
# nodejs ignores
node_modules
npm-debug.log

# coverage reports
coverage

# eclipse IDE ignores
.settings
.project

temp_node_modules
test_node_modules

# include everything under tests
tests/test_node_modules
tests/spec_node_modules
!tests/**/node_modules